<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Indiquer que la caméra n'est PAS obligatoire -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Faten">

        <!-- Écran principal -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Autres activités -->
        <activity android:name=".ViewImageActivity"
            android:label="Voir le document" />
        <activity
            android:name=".DoctorListActivity"
            android:exported="false"
            android:label="Liste des Docteurs"
            android:screenOrientation="portrait" />

        <activity android:name=".DocumentsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".AddAppointmentActivity" />

        <!-- Adapter (non instanciable) -->
        <activity
            android:name=".AppointmentsAdapter"
            tools:ignore="Instantiatable" />

        <!-- Receiver notification -->
        <receiver android:name=".NotificationReceiver" />

    </application>

</manifest>
